table {
	border-spacing: 5px;
	white-space: nowrap;
}

td {
	vertical-align: middle;
}

td > input[type="text"], td > select {
}

td > input[type="submit"], input[type="submit"], a.windowLink, .homepageLink {
	float: right;
	margin-left: 5px;
	margin-top: 12pt;
	
}

a {
	text-decoration: none;
}