table.editorTable {
	width: 100%;
}

textarea.sourceEditorArea {
	min-width: 100%;
	min-height: 294mm;
	white-space: nowrap;
}

label {
	vertical-align: top;
}

a.windowLink, input[type="submit"] {
	float: right;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#content iframe {
	width: 100% !important;
	height: 294mm !important;
}