div.header {
	float: left;
	white-space: nowrap;
}

.tableName {
	white-space: nowrap;
	font-weight: bold;
}

.overflow {
	overflow: auto;
}

table.table {
	border-collapse:collapse;
	width: 100%;
}

table.table th, table.table td {
	border-top: 1px solid #CCCCCC;
	padding: 5px 8px;
} 

table.table th {
	border-bottom: 1px solid #CCCCCC;
    font-weight: bold;
    font-size: 12px;
}

table.table td {
    font-size: 10px;
}

tr.tableRow:HOVER {
	background-color: #EFEFEF;	
}

a.homepageLink, a.windowLink {
	text-decoration: none;
}